.intro{
    background: black;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    background: #8c8c8c;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    transform: translateY(100%);

}
.intro-text{
    color:ghostwhite;
    font-family: "Heebo", sans-serif;
    font-size: 2rem;
}

.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform:translateY(100%);
    display: inline-block;
}